@import "tailwindcss";

@theme {
    --color-primary: #D39858;
    --color-secondary: #85431E;
    --color-foreground: #34150F;
    --color-background: #EACEAA;
    --color-black-base: #0B0B0B;
}

::selection {
    background-color: var(--color-foreground);
    color: var(--color-background);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-background) transparent;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(20, 184, 166, 0.3);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(20, 184, 166, 0.5);
}

html {
    scroll-behavior: smooth;
}

.corner-2xl {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
    --corner-line-width: 1.5px;
    --corner-blur: 0.5px;
    background: radial-gradient(
        circle at top left,
        var(--corner-cut, transparent) calc(var(--radius-2xl) - var(--corner-line-width) - var(--corner-blur)),
        color-mix(in srgb, var(--corner-divider, var(--corner-color, var(--color-foreground))) 50%, var(--corner-cut, transparent)) calc(var(--radius-2xl) - var(--corner-line-width) - calc(var(--corner-blur) / 2)),
        var(--corner-divider, var(--corner-color, var(--color-foreground))) calc(var(--radius-2xl) - var(--corner-line-width)),
        var(--corner-divider, var(--corner-color, var(--color-foreground))) var(--radius-2xl),
        color-mix(in srgb, var(--corner-divider, var(--corner-color, var(--color-foreground))) 50%, var(--corner-fill, var(--corner-color, var(--color-foreground)))) calc(var(--radius-2xl) + calc(var(--corner-blur) / 2)),
        var(--corner-fill, var(--corner-color, var(--color-foreground))) calc(var(--radius-2xl) + var(--corner-blur))
    );
}

